.main-banner2{
    background: url(../img/calibration-banner.png);
    background-size: cover;
}

.story .row{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1rem;
    grid-row-gap: 3rem;
    align-items: stretch;
}

.story h2{
    margin-bottom: 3rem;
}

.story .box .image{
    height: 200px;
    background: #000;
}

.story .box{
    background: rgba(0, 0, 0, 0.05);
}

.story .box .content{
    padding:1.5rem;
    color: grey;
}

.story .box h3{
    font-size: 1.5rem;
}