.main-banner {
    background: url(../img/main-banner.png);
    background-size: cover;
}

.main-banner .container {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    justify-content: space-evenly;
}

.main-banner .item {
    flex: 1;
    min-height: 90vh;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.main-banner .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
    z-index: 0;
    transition: 0.3s;
}

.main-banner .item:hover .background {
    transform: scale(1.2);
}

.main-banner .item:hover .content h1 {
    font-size: 1.5rem;
}

.main-banner .content {
    position: relative;
    z-index: 1;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.1);
}

.main-banner .content h1 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    width: calc(100% - 2rem);
    background: #ec3237;
    transition: 0.3s;
}

.story {
    background: url(../img/story-background.jpg);
    background-size: cover;
    background-position: center;
}

.story .container {
    max-width: 900px;
    padding: 5rem 2rem;
    margin: 0 auto;
}

.story .container .content {
    max-width: 650px;
}

.tcommunication {
    background: url(../img/tcommunication-background.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.tcommunication .container {
    max-width: 900px;
    padding: 5rem 2rem;
    margin: 0 auto;
    z-index: 100;
    position: relative;
}

.tcommunication .container .row {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.tcommunication .container .row:first-of-type {
    height: 550px;
}

.tcommunication .container .row:last-of-type {
    margin-top: 1rem;
}

.tcommunication .container .row > .image {
    width: 50%;
    background: url(../img/tcommunication.png);
    background-position: center;
    background-size: cover;
}

.tcommunication .container .row > .content {
    width: calc(50% - 6rem);
    background: #ec3237;
    color: #fff;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.tcommunication .container .row > .content h4 {
    color: #fff;
}

.tcommunication .container .row > .content p {
    font-weight: 400;
}

.tcommunication .container .row .box {
    width: 48.9%;
    background: #fff;
}

.tcommunication .container .row .box .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.tcommunication .container .row .box .content .btn {
    margin-top: 0px;
}

.tcommunication .container .row .box .image {
    height: 200px;
    background: url(../img/calibration.png);
    background-size: cover;
    background-position: center;
}

.tcommunication .container .row .box:last-of-type .image {
    background: url(../img/mep.png);
    background-size: cover;
    background-position: center;
}

.tcommunication .bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
}

.speciality .container {
    max-width: 900px;
    padding: 5rem 2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.speciality .container .box {
    width: calc((100% / 3) - 3rem);
    text-align: center;
}

.speciality .container h4 {
    font-size: 1.2rem;
    margin: 0.8rem 0;
    margin-bottom: 2rem;
    color: #000;
}

.speciality .container img {
    width: 50px;
}

.stats {
    overflow: hidden;
}

.stats .container {
    max-width: 900px;
    padding: 2rem;
    margin: 1rem auto;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transform: skewX(30deg);
    overflow: hidden;
}

.stats .container::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.stats .container::after {
    content: '';
    position: absolute;
    left: -2.5rem;
    top: 0;
    height: 100%;
    width: calc(100% + 5rem);
    background: url(../img/partnering.jpg);
    background-position: center;
    background-size: cover;
    z-index: 0;
    transform: skewX(-30deg);
}

.stats .container * {
    margin: 0;
}

.stats .container .item {
    transform: skewX(-30deg);
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: #ec3237;
}

.stats .container .item svg {
    width: 50px;
    height: 50px;
    fill: rgba(255, 255, 255, 0.7);
}

.stats .container .item .content {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #ec3237;
}

.stats .container h3 {
    font-size: 2rem;
    font-weight: bolder;
}

.stats .container p {
    color: #ffffff;
}

.gallery {
    text-align: center;
}

.gallery .content {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.gallery .image {
    height: 300px;
}

.gallery-carousel .container {
    max-width: 900px;
    margin: 0 auto;
}

.gallery-carousel {
    display: none;
    position: fixed;
    z-index: 300;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    padding: 3rem 0;
    transition: 0.3s;
}

.gallery-carousel .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2rem;
}

.gallery-carousel .top i {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    cursor: pointer;
}

.gallery-carousel .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% + 200px);
    margin-left: -100px;
    height: calc(100vh - 10rem);
}

.gallery-carousel .row .arrow {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.gallery-carousel .row .arrow i {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    cursor: pointer;
}

.gallery-carousel i:hover,
.gallery-carousel .row .arrow i:hover {
    color: #fff;
}

.gallery-carousel .row .image {
    display: block;
    width: 85%;
    background: url(../gallery/image1.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 100%;
    transition: 0.2s;
}

@media (max-width: 1000px) {
    .main-banner .item {
        min-height: 600px;
    }
}

@media (max-width: 930px) {
    .main-banner .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-banner .item {
        min-height: 500px;
    }

    .gallery-carousel .row .image {
        width: calc(80% - 4rem);
        margin: 0 auto;
    }

    .gallery-carousel .row .arrow:first-of-type {
        transform: translateX(50%);
    }

    .gallery-carousel .row .arrow:last-of-type {
        transform: translateX(-50%);
    }

    .gallery-carousel .row .arrow i {
        border-radius: 50%;
        padding: 0.5rem 0.8rem;
        background: rgba(255, 255, 255, 0.2);
    }
}

@media (max-width: 500px) {
    .stats .container {
        flex-direction: column;
        gap: 1rem;
    }

    .main-banner .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-banner .item {
        min-height: 400px;
    }

    .story {
        background-position: right;
    }

    .story .container {
        padding: 3rem 1rem;
    }

    .tcommunication .container {
        padding: 3rem 1rem;
    }

    .tcommunication .container .row:first-of-type {
        height: auto;
    }

    .tcommunication .container .row {
        flex-direction: column;
    }

    .tcommunication .container .row .image {
        width: 100%;
        height: 200px;
    }

    .tcommunication .container .row .content {
        width: calc(100% - 2rem);
        padding: 1rem;
    }

    .tcommunication .container .row .box {
        width: 100%;
        margin-bottom: 1rem;
    }

    .tcommunication .container .row .box .content {
        padding: 1rem;
        width: calc(100% - 2rem);
    }

    .speciality .container {
        flex-direction: column;
        padding: 3rem 1rem;
    }

    .speciality .container .box {
        width: auto;
        margin-bottom: 2rem;
    }

    .speciality .container .box:last-of-type {
        margin-bottom: 0;
    }

    .gallery .content {
        grid-template-columns: auto auto;
    }

    .gallery .image {
        height: 150px;
    }

    .contact .container {
        padding: 3rem 1rem;
    }

    .gallery-carousel .row .image {
        width: calc(75% - 4rem);
        margin: 0 auto;
    }

    .gallery-carousel .row .arrow:first-of-type {
        transform: translateX(60%);
    }

    .gallery-carousel .row .arrow:last-of-type {
        transform: translateX(-60%);
    }
}
