.clients {
    border-top: 1px solid lightgray;
}

.clients .container {
    max-width: 900px;
    padding: 5rem 2rem;
    margin: 0 auto;
    text-align: center;
}

.clients h2 {
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.clients .container .row {
    position: relative;
    overflow: hidden;
}

.clients .container .slider {
    position: relative;
}

.clients .container .fas {
    position: absolute;
    color: rgba(0, 0, 0, 0.2);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.clients .container .fas.fa-chevron-left {
    left: -50px;
}

.clients .container .fas.fa-chevron-right {
    right: -50px;
}

.clients .container .image {
    display: inline-block;
    height: 100px;
    margin: 0 3rem;
}

.certificates .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 900px;
    padding: 3rem 2rem;
    gap: 1rem;
    margin: 0 auto;
}

.certificates .container img {
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    transition: 0.3s;
}

.certificates .container img:hover {
    border: 1px solid #ec3237;
    transform: scale(1.5);
    z-index: 100;
}

@media (max-width: 700px) {
    .certificates .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .certificates .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .clients .container {
        padding: 3rem 1rem;
    }

    .clients .container .fas {
        color: #fff;
        padding: 0.8rem 1rem;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        z-index: 100;
    }

    .clients .container .fas.fa-chevron-left {
        left: 5px;
    }

    .clients .container .fas.fa-chevron-right {
        right: 5px;
    }
}
