.main-banner2 {
    background: url(../img/mep-banner.png);
    background-size: cover;
}

.mission h2 {
    font-size: 1.3rem;
}

.mission p {
    margin: 0.5rem 0;
}

.mission .container .row .image {
    width: 50%;
    background: url(../img/mep-material.png);
    background-position: center;
    background-size: cover;
}

.mission {
    background: url(../img/mep-material-bg.png);
    background-position: center;
    background-size: cover;
}

.story .row {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.story .row .content {
    width: 48%;
}

.story .row p {
    margin-top: 0;
}

.story .row .content.image {
    background: url(../img/mep-story.png);
    background-size: cover;
}

.projects h2,
.projects h4 {
    text-align: center;
}

.projects .container {
    max-width: 900px;
    padding: 5rem 2rem;
    margin: 0 auto;
}

.projects table thead {
    background: #ec3237;
    color: #fff;
}

.projects table td {
    padding: 1rem;
    border-top: none;
    border-right: none;
}

.projects table tbody tr:nth-child(odd) {
    background-color: #dadada;
}

.projects table th {
    text-align: left;
    padding: 1rem;
    border: 3px solid #ec3237;
}

.projects table p {
    margin: 0;
}

@media (max-width: 500px) {
    .details .row .fas {
        color: #fff;
        padding: 0.8rem 1rem;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        z-index: 100;
    }

    .details .row .fas.fa-chevron-left {
        left: -2px;
    }

    .details .row .fas.fa-chevron-right {
        right: -2px;
    }
}
